.container {
  min-height: 100vh;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
